GridPane{
     -fx-padding: 20;
     -fx-font-family: "Verdana", sans-serif;
}
Label{
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

/* Celdas de toda la tabla centradas*/
.table-cell {
    -fx-alignment: CENTER;
}
