GridPane{
     -fx-padding: 20;
     -fx-font-family: "Verdana", sans-serif;
}
.labelTable{
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

/* Celdas de toda la tabla centradas*/
.table-cell {
    -fx-alignment: CENTER;
}

/* Texto de la cabecera */
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: blue;
}
